<h1>Login</h1>

<%= form_tag '/login', method: :post do %>

  <p>
    <%= label_tag :username %>
    <%= text_field_tag :username%>
 </p>
 
 <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
 </p>

  <%= submit_tag 'Submit' %>

  <p><%= link_to('Login with Facebook!', '/auth/facebook') %></p>
  
<%end%>

<p> Or <%= link_to "Sign-Up", signup_path %> </p>