<h3>Create a Student</h3>

<% if @student.errors.any? %>
  <div id="error_explanation">
    <p class="warning"><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved: </p>
    <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li class="warning"><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @teacher.courses.count != 0 %>
  
    <%= form_with(model: @student, url: [@teacher, @student], local: true) do |f| %>
        <p>Name: <%= f.text_field :name %></p>
        <p>Bio: <%= f.text_area :bio %></p>
        <p>Strengths: <%= f.text_field :strengths %></p>
        <p>Weaknesses: <%= f.text_field :weaknesses %></p>
        <p>Interests: <%= f.text_field :interests %></p>
        <p>Grades: <%= f.text_field :grades %></p>
        <p>Parent Name: <%= f.text_field :parent_name %></p>
        <p>Parent Phone: <%= f.text_field :parent_phone %></p>
        <p>Parent Email: <%= f.text_field :parent_email %></p>
        <p>Courses: <%= f.collection_check_boxes :course_ids, @teacher.courses, :id, :title %></p>
        <p><%= f.submit "Submit" %></p>
    <% end %>

<% else %>

    <%= form_with(model: @student, url: [@teacher, @student], local: true) do |f| %>
        <p>Name: <%= f.text_field :name %></p>
        <p>Bio: <%= f.text_area :bio %></p>
        <p>Strengths: <%= f.text_field :strengths %></p>
        <p>Weaknesses: <%= f.text_field :weaknesses %></p>
        <p>Interests: <%= f.text_field :interests %></p>
        <p>Grades: <%= f.text_field :grades %></p>
        <p>Parent Name: <%= f.text_field :parent_name %></p>
        <p>Parent Phone: <%= f.text_field :parent_phone %></p>
        <p>Parent Email: <%= f.text_field :parent_email %></p>
        <p><%= f.submit "Submit" %></p>
    <% end %>

<% end %>
