<h3>Name: <%= @student.name.capitalize %></h3>

    <p>Teacher: <%= link_to @teacher.name, teacher_path(@teacher) %></p>
    <p>Bio: <%= @student.bio %></p>
    <p>Strengths: <%= @student.strengths %></p>
    <p>Weaknesses: <%= @student.weaknesses %></p>
    <p>Interests: <%= @student.interests %></p>
    <p>Grades: <%= @student.grades %></p>
    <%if @student.parent %>
        <p>Parent Name: <%= link_to @student.parent.name, parent_path(@student.parent) %></p>
    <% else %>
        
    <% end %>

<% if @student.courses.count != 0 %> 

<h3>Courses: </h3>
    <ul>
        <% @student.courses.each do |c| %>   
            <li><%= link_to c.title, course_path(c) %></li>
        <% end %>
    </ul>

<% end %>


<p><%= link_to "Edit", edit_teacher_student_path(@teacher, @student) %> &nbsp<%= link_to "Delete", teacher_student_path(@teacher, @student), method: :delete %> </p>





