<%= form_for @teacher do |f| %>
    
    <p><%= f.label 'Name: ' %><%= f.text_field :name %></p>
    <p><%= f.label 'Username: ' %><%= f.text_field :username %></p>
    <p><%= f.label 'Password: ' %><%= f.password_field :password %></p>
    <p><%= f.label 'Password Confirmation: ' %><%= f.password_field :password_confirmation %></p>
    <%= f.submit "Update" %>

<% end %>