<h1>Hi <%= @teacher.name %>!</h1>
<p>Username: <%= @teacher.username %></p>
<p>Number of Students: <%= @teacher.students.count %></p> 
<% @teacher.students.each do |s| %>
    <p><%= s.name %></p>
<% end %>

<h2> Current Courses </h2>
<% @teacher.courses.each do |c| %>
    <p><%= link_to c.title, course_path(c) %></p>
<% end %>

<h2>Create a course</h2>
<%= form_for @course do |f| %>
  <p>Title: <%= f.text_field :title %></p>
  <p>Students: <%= f.collection_check_boxes :student_ids, Student.all, :id, :name %></p>
  <%= f.hidden_field :teacher, :value => @teacher %>
  <%= f.submit %>
<% end %>

