<h2>Hi <%= @teacher.name %>!</h2>
<p>Username: <%= @teacher.username %></p>

<% if @teacher.courses.count == 0 %>
    <p><%= link_to "Create a New Course", new_course_path %></p>
<% else %> 
    <p>Number of <%= link_to "Courses:", courses_path %> <%= @teacher.courses.count %></p> 
    <% if @teacher.students.count == 0  %>
        <p><%= link_to "Create a New Student", new_teacher_student_path(@teacher) %></p>
    <% else %>
        <p>Number of <%= link_to "Students:", teacher_students_path(@teacher) %> <%= @teacher.students.count %></p> 
    <% end %>
<% end %>





