
<h3>Course Name: <%= @course.title %></h3>

<P>Teacher: <%= link_to @course.teacher.name, teacher_path(@course.teacher)  %>

<p>Number of students enrolled: <%= @course.students.count %></p>

<% student_list = [] %>
<% @course.students.each do |s| %>
    <%student_list << s.name %>
<% end %>

<p>Students: <%= student_list.map{ |n| n.capitalize }.join(', ') %></p>

<p><%= link_to "Edit", edit_course_path %> 
    <%= link_to "Delete", @course, :method => :delete %> </p>



