<h3> Parent Name: <%= @parent.name %> </h3>
<p>Student: <%= @parent.student.name %></p>
<p>Phone: <%= @parent.phone %></p>
<p>Email: <%= @parent.email %></p>

<p><%= link_to "Edit", edit_parent_path(@parent) %> </p>

