<!DOCTYPE html>

<html>
  <head>
    <title>Rails Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="topnav">
      <a href="/" class="active" ><b>COURSE CREATOR</b></a>
      <a href="/courses">Courses
      <a href="/teachers/<%= session[:teacher_id] %>/students">Students</a>
      <a href="/parents">Parents</a>
      <a href="/conferences">Conferences</a>
    </nav>

    <nav class="botnav">
      <a href="/logout" class="active">Logout</a>
      <a href="/" class="not-active">Hello, <b>
        <% if !session[:teacher_id] %>
            NOBODY
        <% else %>
          <% @teacher = Teacher.find(session[:teacher_id]) %>
            <%= @teacher.username.upcase %>
        <% end %></b> 
      </a>
    </nav>

    <div id="wrapper">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div> <!-- wrapper end -->
  </body>

</html>